{% extends 'base.html' %}
{% block logo %}그날의 박스오피스...
{% endblock logo %}
{% block body %}
  <form method="POST">
    {% csrf_token %}
    {% comment %} {{ dateform.month }} 월 {{ dateform.day }} 일 {% endcomment %}
    <select name="month">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
    월
    <select name="day">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
    </select>
    일
    <button type="submit">Go</button>
  </form>

{% endblock body %}

{% comment %} sidebar에 날짜 넣는 부분 {% endcomment %}
{% block date %}

{% for date in searched_dates %}
  <a href="{% url 'movies:movie_list' date.id %}" class="sidebar_date">{{ date.month }}월 {{ date.day }}일<br></a> 
{% endfor %}

{% endblock date %}


{% comment %} sidebar에 영화 넣는 부분 {% endcomment %}
{% block sidemovie %} 

{% for movie in clicked_movies %}
  <img src="{{ movie.poster_url }}" class="sidebar_card"><br>
  <div class="card-body">
    <h4 class="card-title"><a href="{% url 'movies:movie_review' movie.movie_code %}">{{ movie.title }}</a><br></h4>
  </div>
  
{% endfor %}

{% endblock sidemovie %}


