{% extends 'base.html' %}

{% block logo %}
영화 검색 후 나올 페이지입니다.

{% endblock logo %}


{% block body %}
<h3>{{ date.month }}월 {{ date.day }}일의 영화 순위</h3>
{% for movie in movies18 %}
{% if movie.rank <= 4 %}
<div class="b-blcok col-xl-3 col-lg-3 col-md-3 col-3">
  <div class="card" style="width: 16rem;">
    <img src="{{ movie.poster_url }}" class="card-img-top">
    <div class="card-body">
      <h4 class="card-title"><a href="{% url 'movies:movie_review' movie.movie_code %}">{{ movie.title }}<br></a><br></h4>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
{% comment %} 

</div>


  <h3>2018</h3>
  
  {% for movie in movies18 %}
    {% if movie.rank <= 5 %}
    <div class="row">
      <div class="card width=0">
      <img src="{{ movie.poster_url }}" class="card-img-top">
        <div class="card-body">
        <a href="{% url 'movies:movie_review' movie.movie_code %}">{{ movie.title }}<br></a>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %} {% endcomment %}

{% comment %} 
  <div class="card">
    {% for movie in movies18 %}
      {% if movie.rank <= 5 %}
        <div class="card-body">Basic card
          <img src="{{ movie.poster_url }}"><br>
          <a href="{% url 'movies:movie_review' movie.movie_code %}">{{ movie.rank }}. {{ movie.title }}<br></a>
        </div>
        {% endif %}
    {% endfor %}
  </div>

  {% for movie in movies17 %}
    {% if movie.rank <= 5 %}
    <img src="{{ movie.poster_url }}"><br>
    <a href="{% url 'movies:movie_review' movie.movie_code %}">{{ movie.rank }}. {{ movie.title }}<br></a>
    {% endif %}
  {% endfor %} {% endcomment %}

{% comment %} 
  <div id="movielist" class="container bg-light">
    <div id="subtitle">
      <p id="bottomline" class="border-bottom border-warning"></p>
      <h3>영화목록</h3>
    </div>
    <div class="row">
      <div class="b-blcok col-xl-3 col-lg-4 col-md-6 col-12">
        <div class="card" style="width: 16rem;">
          <img src="images/라이온킹.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">라이온 킹 <br>
              <div class="btn btn-secondary">8.7</div>
            </h4>
            <hr>
            <p class="card-text">모험</p>
            <p class="card-text">2019-07-17</p>
            <a href="#" class="btn btn-primary">영화정보 보러가기</a>
          </div>
        </div>
      </div>
      <div class="b-blcok col-xl-3 col-lg-4 col-md-6 col-12">
        <div class="card" style="width: 16rem;">
          <img src="images/엑시트.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">엑시트<br>
              <div class="btn btn-primary">9.07</div>
            </h4>
            <hr>
            <p class="card-text">엑시트</p>
            <p class="card-text">2019-07-31</p>
            <a href="#" class="btn btn-primary">영화정보 보러가기</a>
          </div>
        </div>
      </div>
      <div class="b-blcok col-xl-3 col-lg-4 col-md-6 col-12">
        <div class="card" style="width: 16rem;">
          <img src="images/사자.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">사자 <br>
              <div class="btn btn-secondary">8.32</div>
            </h4>
            <hr>
            <p class="card-text">미스터리</p>
            <p class="card-text">2019-07-31</p>
            <a href="#" class="btn btn-primary">영화정보 보러가기</a>
          </div>
        </div>
      </div>
      <div class="b-blcok col-xl-3 col-lg-4 col-md-6 col-12">
        <div class="card" style="width: 16rem;">
          <img src="images/알라딘.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">알라딘 <br>
              <div class="btn btn-primary">9.45</div>
            </h4>
            <hr>
            <p class="card-text">판타지</p>
            <p class="card-text">2019-05-23</p>
            <a href="#" class="btn btn-primary">영화정보 보러가기</a>
          </div>
        </div>
      </div>
      <div class="b-blcok col-xl-3 col-lg-4 col-md-6 col-12">
        <div class="card" style="width: 16rem;">
          <img src="images/레드슈즈.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">레드슈즈 <br>
              <div class="btn btn-primary">9.24</div>
            </h4>
            <hr>
            <p class="card-text">애니메이션</p>
            <p class="card-text">2019-07-25</p>
            <a href="#" class="btn btn-primary">영화정보 보러가기</a>
          </div>
        </div>
      </div>
      <div class="b-blcok col-xl-3 col-lg-4 col-md-6 col-12">
        <div class="card" style="width: 16rem;">
          <img src="images/마이펫의이중생활2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">마이펫의 이중생활 2<br>
              <div class="btn btn-primary">9.12</div>
            </h4>
            <hr>
            <p class="card-text">애니메이션</p>
            <p class="card-text">2019-07-31</p>
            <a href="#" class="btn btn-primary">영화정보 보러가기</a>
          </div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
{% endblock body %}



{% block date %}

  {% for date in searched_dates %}
    <a href="{% url 'movies:movie_list' date.id %}">{{ date.month }}월 {{ date.day }}일<br></a> 
  {% endfor %}

{% endblock date %}
