{% extends 'base.html' %}
{% block body %}
  <hr>
  <h1>{{ movie.title }}</h1>
  <hr>
  <img src="{{ movie.poster_url }}" alt="image" style="width: 100%"><br>
  <br>
  <div class="movie_description">
    {{ movie.description }}
  </div>
  
  {% comment %} 리뷰 작성 {% endcomment %}
  <br>
  <br>
  <hr>
  <h3>Review</h3> 
  <ul>
    {% for review in reviews %}
      <div class="movie_review">
      <li>{{ review.content }}
      {% if review.score == 1 %}
      ★☆☆☆☆
      {% endif %}
      {% if review.score == 2  %}
      ★★☆☆☆
      {% endif %}
      {% if review.score == 3  %}
      ★★★☆☆
      {% endif %}
      {% if review.score == 4  %}
      ★★★★☆
      {% endif %}
      {% if review.score == 5  %}
      ★★★★★
      {% endif %}
      </li><br>
      </div>
    {% endfor %}
  </ul>
  <hr>
  <form action="{% url 'movies:review_create' movie.movie_code %}"method="POST" style="width:100%">
    {% csrf_token %}
    {{ review_form }}
    <button type="submit">작성</button>
  </form>
  

{% endblock body %}



{% comment %} sidebar에 날짜 넣는 부분 {% endcomment %}
{% block date %}

{% for date in searched_dates %}
  <a href="{% url 'movies:movie_list' date.id %}" class="sidebar_date">{{ date.month }}월 {{ date.day }}일<br></a> 
{% endfor %}

{% endblock date %} 


{% comment %} sidebar에 영화 넣는 부분 {% endcomment %}
{% block sidemovie %}

{% for movie in clicked_movies %}
  
  <img src="{{ movie.poster_url }}" class="sidebar_card"><br>
  <div class="card-body">
    <h4 class="card-title"><a href="{% url 'movies:movie_review' movie.movie_code %}">{{ movie.title }}</a><br></h4>
  </div>
  
{% endfor %}

{% endblock sidemovie %}



